<div class="container mx-auto">
  <h1 class="text-center mb-1 text-2xl">About me</h1>
  <p class="text-center text-xl mb-12">มาทำความรู้จักกับผมดีกว่า!</p>

  <div class="content">
    <div
      class="mx-auto w-[95%] my-1 rounded p-2 bg-[#111111] scale-[0.95] cursor-pointer transition duration-600 hover:bg-[#ffa42d] hover:text-white hover:scale-[1]"
      *ngFor="let i of information"
    >
      <label for="desc" class="text-white text-sm text-white mb-1">{{
        i.label
      }}</label>
      <p id="desc" class="pl-1 text-md">{{ i.description }}</p>
    </div>
  </div>
</div>
