<div
  class="shadow-md p-2 mb-2 shadow-md transition duration-600 fixed w-full z-10"
  [class]="transparent ? 'backdrop-blur-md' : 'bg-white text-[#000000]'"
>
  <div class="container mx-auto flex justify-between items-center">
    <div
      class="text-xl font-bold transition duration-600 cursor-pointer hover:text-pink-600"
    >
      Jirayu.pw!
    </div>
    <span
      class="cursor-pointer flex items-center md:hidden"
      (click)="_open = !_open"
      ><mat-icon *ngIf="_open">clear</mat-icon
      ><mat-icon *ngIf="!_open">format_list_bulleted</mat-icon></span
    >
    <div
      class="items-center md:flex"
      [class]="
        _open
          ? 'flex fixed flex-col rounded border p-2 bg-[#111111] text-white top-[56px] right-[16px]'
          : 'hidden'
      "
    >
      <a
        routerLink="/"
        class="transition duration-600 cursor-pointer mb-2 md:mr-6 md:mb-0 hover:text-blue-600"
        >Home</a
      >
      <a
        href="https://oxygen-project.xyz"
        class="transition duration-600 cursor-pointer hover:text-blue-600"
        >Oxygen-Project</a
      >
    </div>
  </div>
</div>
